@model Grupo7_Market.Models.OrdenDetalle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrdenDetalle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Orden.OrdenId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orden.OrdenId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.producto.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.producto.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descuento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DetalleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
